// fonts
$normal-text: 'Hanken Grotesk', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

// colors
$sea-deep: #364156;
$deep-blue: #003268;
$sea-light: #176b85;
$white: #e4e9ed;
$green: #003268;
$gray: #f4f4f4;

$blue-dark: #3A556A;
$blue: #029bc5;
$intense-orange: #f13b13;
$gray-dark: #646464;
$dark-text: #2c3e50;
$sand: #c0a183;