// fonts
$normal-text: 'Hanken Grotesk', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

// colors
$white: #e4e9ed;
$sea-deep: #364156;
$gray: #f4f4f4;
$blue-dark: #3A556A;
$blue: #029bc5;
$intense-orange: #f13b13;
$gray-dark: #646464;
$dark-text: #2c3e50;
$sand: #fdd7b6;
$green: #1abc9c;