// fonts
$normal-text: 'Hanken Grotesk', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// colors
$sea-deep: #364156;
$deep-blue: #003268;
$sea-light: #176b85;
$white: #e4e9ed;
$green: #003268;
$gray: #f4f4f4;